@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;700&display=swap');

html,
body {
    font-family: 'Poppins',
        sans-serif;
    margin: 0px;
}

header {
    color: white;
    background-image: url(/assets/images/valeriia-bugaiova-_pPHgeHz1uk-unsplash.jpg);
    background-size: auto;
}

.title {
    padding: 2rem;
    text-align: center;
}

.wrapper,
.banner {
    padding: 2rem;
}

.banner {

    h1 {
        font-family: 'Bitter',
            serif;
        font-size: 5rem;
        letter-spacing: 0.5rem;
        font-weight: bold;
    }
}

.banner>* {
    margin: 0px;
}

nav {
    a {
        color: white;
        margin: 0.5rem;
        line-height: 6;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

main {
    p {
        text-align: justify;
    }
}

.content {
    padding-left: 2rem;

    h1 {
        font-family: 'Bitter',
            serif;
    }
}


.btn:hover {
    opacity: 1;
}

.btn {
    font-size: 1.2rem;
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.9;
    border-radius: 4px;
}

.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}

.main-btn {
    background-color: #E0B973;
    margin-right: 10px;
}

.btn-wrapper a {
    margin: 10px 0;
}

.fa {
    margin-right: 5px;
}

img {
    padding-left: 2rem;
    width: 35rem;
    height: 100%;
}

.testimoni {
    margin: 2rem;

    h1 {
        font-size: 2rem;
        font-family: 'Bitter',
            serif;
    }

    p {
        text-align: center;
    }

    text-align: center;
}

footer {
    background: #14274A;

    color: white;
    font-weight: light;
    display: flex;
    justify-content: center;

    p {
        margin: 0.5rem;
    }
}